*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.wrapper{
    max-width:400px;
    width: 100%;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: black;
    opacity: 0.8;
    border-radius: 15px;
}

.wrap{
    width: 80%;
    height:80%;
    margin: 10%;
}

form h1{
    color: white;
    margin: 20px 0;
}

form{
    width: 100%;
    height: 100%;
}

form input{
    width: 100%;
    height: 50px;
    padding-left: 20px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    color: white;
    background: rgb(37, 36, 36);
}

form input::placeholder{
    color: white;
}

form button{
    width: 100%;
    height: 50px;
    margin-top: 50px;
    border-radius: 10px;
    background: red;
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
}

form .chkbox{
    margin-top: -1px;
    margin-left: 3px;
    margin-right:4px ;
    width: 20px;
    height: 20px;
}

form .remember{
    display: flex;
    margin-top: 15px;
    color: white;
}

form .need{
    display: flex;
    float: right;
    color: white;
    text-decoration: none;
    margin: -20px 0 0 0 ;
}

form .footer{
    color: white;
    margin-top: 60px;
}

form .footer h3{
    color: rgb(48, 50, 52);
    margin-bottom: 30px;
}

form .footer h3 a{
    color: white;
    font-size: 1rem;
    text-decoration: none;
}

form .footer p{
    font-size: 0.9rem;
}
form .footer p a{
    font-size: 1.1rem;
    color: rgb(6, 83, 192);
    text-decoration:none ;
}