*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.logo {
    background-image: url('Photo/logo.png');
    width: 150px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }



/*    First Section       */

.firstSection{
    height: 60vh;
}


.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 70%;
}

.firstHalf{
    width: 75%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.secondHalf{
    width: 30%;
}

.secondHalf img{
    width: 70%;
    border: 4px solid white;
    border-radius: 150px;
    display: block;
    margin: auto;
}

.text-big{
    font-size: 33px;
}
.text-small{
    font-size: 17px;
}

.btn{
    padding: 6px 17px;
    margin: 5px 0;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
}

.btn-small{
    padding: 6px 10px;
    vertical-align: middle;
}



/*   Second Section Start     */
.section{
    height: 325px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 80%;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;

}
.section-left{
    flex-direction: row-reverse;
}

.paras{
    padding: 0 65px;
}

.sectionTag{
    padding: 12px 0;
}

.sectionSubTag{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.thumbnail img{
    width: 200px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    margin-top: 14px;

}


/* Footer */
footer {
    background-color: #000000;
    padding: 20px 0;
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    margin: auto;
    padding: auto;
    max-width: 1000px;
}

.footer-links {
    flex: 1;
    margin: 20px 0;
}

.footer-links h3 {
    color: #fff;
    margin-bottom: 10px;
}

.footer-links ul {
    list-style-type: none;
    padding: 0;
}

.footer-links li a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

.footer-links li a:hover {
    color: #1e7a42;
}

.footer-bottom {
    text-align: center;
    color: #fff;
    padding: 10px 0;
    margin-top: 20px;
}




/* navication bar */
p{
    color: white;
  }


body {
    font-family: 'Roboto', sans-serif;
    background-color: #141414;
    color: #a19b9b;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.logo {
    background-image: url("Photo/logo.png");
    width: 150px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  
.navbar a:hover {
    opacity: 0.5;
    color: #27ac79 ;
  }

.navbar {
    background-color: #000;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: flex;
    list-style-type: none;
}

.navbar li {
    margin-right: 1rem;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
}


  
  a {
    text-decoration: none;
    color: inherit;
  }